# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
eggs/
.eggs/
wheels/
*.egg-info/
*.egg
/venv/

# dotenv
.env
*.env

# Mac stuff
.DS_Store
.idea/
*/workspace.xml

# CircleCI
.circleci/process.yml

# Any test or sample data
sample_data
test_data
**/temp.json

# Serverless dependencies
*/.serverless
*/node_modules
*/package.json
*/package-lock.json
